---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";
import sortCombinedPosts from "@utils/sortCombinedPosts";
import feedPosts from "../content/feeds/posts.json";

const markdownPosts = await getCollection("blog");

const combinedPosts = [
  ...markdownPosts.map(post => ({
    ...post.data,
    slug: post.slug,
    type: "post",
  })),
  ...feedPosts.map(feedPost => ({
    ...feedPost,
    type: "feedPost",
  })),
];

const sortedPosts = sortCombinedPosts(combinedPosts);

// List of items to search in
const searchList = sortedPosts.map(post => ({
  title: post.title,
  description: post.description,
  slug: post.slug,
  data: post,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
