---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props {
  posts: any[];
}

const { posts } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
    <ul>
      {
        posts.map(post => (
          <Card
            href={post.type === "post" ? `/posts/${post.slug}/` : post.link}
            post={post}
            secHeading={false}
          />
        ))
      }
    </ul>
  </Main>

  <Footer noMarginTop={posts.length > 1} />
</Layout>
